spring:
   jpa:
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      database: POSTGRESQL
      generate-ddl: false
      open-in-view: false
      show-sql: false
      hibernate:
         ddl-auto: none
         use-new-id-generator-mappings: false
         format_sql: true
   datasource:
      dataSourceClassName: org.postgresql.Driver
      url: jdbc:postgresql://localhost:5432/soch-db-dev?currentSchema=soch
      username: postgres
      password: postgres
logging:
   level:
       root: ERROR
       org.springframework: ERROR
       com.naco.soch: ERROR
       org.hibernate: ERROR
mhl:
  auth_key: c2285c7c4cdaf31f8486b35f171c643c
accessKey: $5gw@965
crossDomainAllowedOrigins: http://localhost:4200,https://52.136.112.194/sochqa,https://3.7.182.184/nacouat,https://3.7.182.184,https://projectsoch.org/sochuat
jwtSecret: U09DSCtIZTExMFMzY3crRG9udDN2M3J0cjF0MGYhbmRNMyt3QHJuIW5nKy4=